.App {
  display: flex;
  height: 100vh;
  margin: 0;
}

.left-panel {
  background-color: #282c34;
  background-image: url('./src/assets/background.png');
  background-size: cover;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-panel {
  /* background-image: url('./src/assets/background.png');
  background-size: cover; */
  background-position: center;
  width: 10%;
  height: 100vh; /* Ensure the right panel takes full height */
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

h2 {
  margin: 20px 0 10px 0;
}
h1{
  font-family:Georgia, 'Times New Roman', Times, serif ;
}
p {
  margin: 5px 0;
}

